


.inter-banner-logo ,.productive-user h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* Shared style */
nav h2{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

/* Banner style */
.banner{
    background-image: url(images/Hero-bg.png);
   height: 650px;
  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
nav h2{
    font-weight: 900;
    font-size: 34px;
}

.heading h1{
    font-weight: bold;
    font-size: 65px;
}
.heading{
    text-align: center;
    margin: 100px 500px;
   
}

/* Action style */
.action{
    display: flex;
    justify-content: space-around;
    margin: 141px 0;
}
.action-item{
    width: 500px;
}
.action h3{
    font-size: 42px;
}
.action p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action img{
    border-radius: 50px;
}
/* productive-user style */
.productive-user{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 250px;
    border-radius: 25px;
    padding: 50px 140px;
    width: 1100px;
   
   
   
}
.productive-user h3{
    font-size: 38px;
}
.productive-user h1 {
    font-size: 80px;
    color: #4E47FF;
    
}
.productive-user p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    
   
}
.productive-card{
    display: flex;
    justify-content: space-around;
   
    
}